[Unit]
Description=Update strategy performance analytics every day at 20:00

[Timer]
OnCalendar=*-*-* 20:00:00 Europe/Amsterdam
Persistent=true
AccuracySec=1min
Unit=hwr-tracking.service

[Install]
WantedBy=timers.target
